<footer class="footer">
    <div class="konteyner">
        <div class="footer-top">
            <p class="create-text">Create your own Meetup group.</p>
            <a href="#" class="get-started-btn">Get Started</a>
        </div>
        
        <div class="footer-columns">
            <div class="footer-col">
                <h4 class="col-title">Your Account</h4>
                <a href="#">Sign up</a>
                <a href="#">Log in</a>
                <a href="#">Help</a>
                <a href="#">Become an Affiliate</a>
            </div>
            <div class="footer-col">
                <h4 class="col-title">Discover</h4>
                <a href="#">Groups</a>
                <a href="#">Calendar</a>
                <a href="#">Topics</a>
                <a href="#">Cities</a>
                <a href="#">Online Events</a>
                <a href="#">Local Guides</a>
                <a href="#">Make Friends</a>
            </div>
            <div class="footer-col">
                <h4 class="col-title">Meetup</h4>
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Meetup Pro</a>
                <a href="#">Careers</a>
                <a href="#">Apps</a>
                <a href="#">Podcast</a>
            </div>
        </div>

        <div class="footer-social-row">
            <h4 class="social-title">Follow us</h4>
            <div class="social-icons">
                <img src="picture/icons/footer/Facebook.svg" alt="FB">
                <img src="picture/icons/footer/Twitter.svg" alt="TW">
                <img src="picture/icons/footer/YouTube.svg" alt="YT">
                <img src="picture/icons/footer/Instagram.svg" alt="IG">
                <img src="picture/icons/footer/TikTok.svg" alt="TT">
            </div>
            <div class="store-links">
                <img src="picture/icons/footer/google.jpg" alt="Google">
                <img src="picture/icons/footer/ios.jpg" alt="Apple">
            </div>
        </div>

        <div class="footer-bottom">
            <span>© 2024 Meetup</span>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Do Not Sell or Share My Personal Data</a>
            <a href="#">Cookie Policy</a>
            <a href="#">Help</a>
        </div>
    </div>
</footer>