<header class="header">
    <div class="konteyner">
        <div class="header-line">
            <div class="header-left">
                <a href="main.html">
                    <img src="picture/icons/header/logo.svg" alt="Meetup" class="logo">
                </a>
                <div class="search-box">
                    <div class="search-input-wrapper">
                        <img src="picture/icons/header/search.svg" alt="" class="search-icon">
                        <input type="text" placeholder="Search events">
                    </div>
                    <div class="location-input-wrapper">
                        <input type="text" placeholder="Mountain View, CA">
                    </div>
                    <button class="search-btn">
                        <img src="picture/icons/header/search.svg" alt="" class="lupa-v-knopke">
                    </button>
                </div>
            </div>
            <div class="header-right">
                <div class="language-select">
                    <img src="picture/icons/header/language.svg" alt="">
                    <span>English</span>
                </div>
                <a href="#" class="btn-login">Log in</a>
                <a href="#" class="btn-signup">Sign up</a>
            </div>
        </div>
    </div>
</header>