<header class="header">
    <div class="konteyner">

        <div class="blok-logo">
            <a href="main.html" class="ssilka-logo">
                <img src="picture/icons/header/logo.svg" alt="" class="picture-logo">
            </a>
        </div>

        <div class="search">
            <div class="pole-vvoda">
                <img src="picture/icons/header/search.svg" alt="" class="picture-lupa">
                <input type="text" placeholder="Search events" class="vvod-teksta">
            </div>
            <div class="pole-vvoda">
                <input type="text" placeholder="Mountain Viev, CA" class="vvod-teksta">
            </div>
            <button class="krasnaya-knopka">
                <img src="picture/icons/header/search.svg" alt="" class="lupa-v-knopke">
            </button>
        </div>

        <div class="blok-navigacii">
            <span class="yazik-sayta">
                <img src="picture/icons/header/eng.svg" alt="" class="picture-planeti">
                English
            </span>
            <a href="#" class="ssilka-vhod">Log in</a>
            <a href="page2.html" class="knopka-registracii">Sign up</a>
        </div>

    </div>
</header>